.ad {
  background: rgba(0, 0, 0, .6);
  margin-top: -120px;
  text-align: center;
}

.ad__inner {
  margin: 0 auto;
  max-width: 960px;
}

.ad h2,
.ad p {
  color: white;
  /* margin: 0; */
}

.ad h2 {
  /* margin: 0 0 3rem; */
}

.ad p {
  /* margin-bottom: 3rem; */
}

.ad .button {
  margin-top: 2rem;
}
