.banner {
  align-items: flex-end;
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 768px) {
  .banner {
    height: 100vh;
  }
}

.after-banner {
  margin-top: -200px;
}

.banner--home {
  height: 100vh;
}

.banner--image {
  position: relative;
  top: 60%;
  transform: translate(0, -50%);
}

@media screen and (min-width: 768px) {
  .banner--image {
    /* max-width: none;
    width: 100%; */
  }
}

.banner--content {
  background: rgba(255,255,255, .25);
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
}

.banner--content-inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  width: 80%;
}

/* SLIDES */
.slides {
  height: 100%;
  position: fixed !important;
  width: 100%;
}

.slick-list {
  height: 100%;
}

.slick-track {
  height: 100%;
}

.slick-slide {
  height: 100%;
}

.slick-slide > div {
  height: 100%;
}

.slick-slide > div > div {
  height: 100%;
}

.slides--mobile .banner--image {
  position: relative;
  top: 60%;
  transform: translate(0, -50%);
}

.slides-desktop {
  display: none !important;
}

@media screen and (min-width: 768px) {
  .slides--mobile {
    display: none !important;
  }

  .slides-desktop {
    display: block !important;
  }
}

.slick--about {
  margin: 0 auto;
  max-width: 650px;
}

.slick-slider {
  position: relative;
}

.slick-arrow {
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 0;
  cursor: pointer;
  display: block;
  height: 2rem;
  opacity: .5;
  outline: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-indent: -9999px;
  top: calc(50% - 1rem);
  transition: opacity .2s ease-in;
  width: 2rem;
}

.slick-arrow:hover {
  opacity: 1;
}

.slick-prev {
  background-image: url("../../images/icons/arrow-left.svg");
  left: -3rem;
}

.slick-next {
  background-image: url("../../images/icons/arrow-right.svg");
  right: -3rem;
}
