.banner {
  align-items: flex-end;
  display: flex;
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 768px) {
  .banner {
    height: calc(100vh - 165px);
  }
}

.banner--image {
}

@media screen and (min-width: 768px) {
  .banner--image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

.banner--content {
  background: rgba(255,255,255, .25);
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
}

.banner--content-inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  width: 80%;
}
