.banner {
  align-items: flex-end;
  display: flex;
  height: calc(100vh - 180px);
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 768px) {
  .banner {
    height: calc(100vh - 250px);
  }
}

.banner--home {
  height: calc(100vh - 30px);
}

@media screen and (min-width: 768px) {
  .banner--home {
    height: calc(100vh - 120px);
  }
}

.banner--image {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

@media screen and (min-width: 768px) {
  .banner--image {
    max-width: none;
    width: 100%;
  }
}

.banner--content {
  background: rgba(255,255,255, .25);
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
}

.banner--content-inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  width: 80%;
}

/* SLIDES */
.slides--mobile .banner--image {
  top: 0;
  transform: translate(-50%, 0);
}

.slides--desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .slides--mobile {
    display: none;
  }

  .slides-desktop {
    display: block;
  }
}
