.logo {
  font-family: 'Abril Fatface', cursive;
  font-weight: 300;
  margin: 0;
}

.logo a {
  border: 0;
  color: white;
  font-weight: 500;
  letter-spacing: 2.5px;
}

.logo a:hover {
  border: 0;
}

.logo a:hover {
  color: hotpink;
}
