.logo {
  font-family: 'Abril Fatface', cursive;
  font-size: 1.75rem;
  font-weight: 300;
  margin: 0;
  transition: all .2s ease-in;
  transition: font-size .025s ease-in, padding .2s ease-in;
}

.logo a {
  border: 0;
  color: #EEE;
  font-weight: 500;
  letter-spacing: 2.5px;
}

.logo a:hover {
  border: 0;
}

.logo a:hover {
  color: white;
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 2.75rem;
    padding: 2rem 0;
  }

  .not-top .logo {
    font-size: 2.25rem;
    padding: 1rem 0;
  }
}
