.nav--primary {
  display: flex;
  flex-flow: column;
  margin-bottom: 2rem;
  width: 100%;
}

@media screen and (min-width: 760px) {
  .nav--primary {
    display: flex;
    flex-flow: row;
    margin-bottom: 0;
    width: auto;
  }
}

.nav--primary a {
  border-bottom: 0;
  color: #DDD;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 2.5px;
  margin-bottom: 0;
  text-transform: uppercase;
}

@media screen and (max-width: 759px) {
  .nav--primary a {
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 0 .5rem .5rem;
    position: relative;
  }
}

@media screen and (min-width: 760px) {
  .nav--primary a {
    padding: 3rem 1rem;
  }
}

.nav--primary a::after {
  background: transparent;
  bottom: 0;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  transition: all .2s;
  width: 100%;
}

.nav--primary a:hover,
.nav--primary a.active {
  color: white;
  /* color: #A65151; */
}

.nav--primary a.active::after {
  /* background: rgba(255,255,255,.15); */
}

.nav--social {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

@media screen and (min-width: 760px) {
  header .nav--social {
    display: none;
    flex-flow: column;
    justify-content: space-around;
  }
}

.nav--social a {
  margin-bottom: 1rem;
}

@media screen and (max-width: 759px) {
  header .nav--social a {
    margin: 0 .75rem;
  }
}

.nav--social-inline {
  flex-flow: row;
  justify-content: flex-start;
}

.nav--container {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 759px) {
  .nav__menus {
    background: rgba(0, 0, 0, .95);
    bottom: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    left: 0;
    opacity: 0;
    padding: 6rem 1rem 3rem;
    position: fixed;
    right: 0;
    top: 0;
    transform: scale(0);
    transform-origin: top right;
    transition: all 0.2s;
    z-index: -1;
  }
}

@media screen and (min-width: 760px) {
  .nav__menus {
    flex-direction: row;
    justify-content: space-between;
    /* left: 50%; */
  }
}

input[type=checkbox]:checked ~ .nav__menus {
  opacity: 1;
  transform: scale(1);
}

.nav__trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.nav__label {
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 760px) {
  .nav__label {
    display: none;
  }
}

.icon-bar {
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 4px;
  transition: all 0.2s;
}

.top-bar {
  transform: rotate(0);
}

.middle-bar {
  opacity: 1;
}

input[type=checkbox]:checked + label .top-bar {
  transform: rotate(45deg);
  transform-origin: 25% 10%;
}

input[type=checkbox]:checked + label .middle-bar {
  opacity: 0;
}

input[type=checkbox]:checked + label .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 25% 90%;
}

input[type=checkbox]:checked + label .icon-bar {
  background-color: #FFFFFF;
  width: 45px;
}

.nav--secondary {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 786px) {
  .nav--secondary {
    flex-direction: row;
  }
}

.nav--secondary a {
  color: white;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 2.5px;
  margin-bottom: 1rem;
  margin-right: 2rem;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

@media screen and (min-width: 768px) {
  .nav--secondary a {
    margin-bottom: 0;
  }
}

.nav--secondary-social {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .nav--secondary-social {
    flex-direction: row;
    margin-left: 2rem;
    width: 160px;
  }
}

.nav--secondary-social a {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .nav--secondary-social a {
    margin-bottom: 0;
    margin-left: 2rem;
  }
}

.nav--locations {
  color: #CCC;
  display: block;
  columns: 1;
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
  margin: 1rem 0 0;
  padding: 0;
}

.nav--locations li {
  display: block;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .nav--locations li {
    display: inline-block;
  }

  .nav--locations li:not(:last-of-type)::after {
    content: "|";
    margin: 0 0.4rem 0 .5rem;
  }
}
