.package {
  background: rgba(255,255,255,.95);
  text-align: center;
}

.package:not(:last-of-type) {
  border-bottom: 2px solid #eee;
  margin-bottom: 4rem;
  padding-bottom: 4rem;
}

@media screen and (min-width: 768px) {
  .package:not(:last-of-type) {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.package__content {
  padding: 0;
}

.package__image {
  margin-bottom: 1rem;
  text-align: center;
}

.package__image img {
  max-width: 100px;
}

@media screen and (min-width: 768px) {
  .package__content {
    /* padding: 2rem 1rem; */
  }
}

.package:nth-of-type(odd) {
}

.package:nth-of-type(even) {
  /* background: #eee; */
}

.package__list {
  columns: 1;
  margin: 0;
  padding: 0;
}

.package__list li {
  font-family: 'Montserrat', sans-serif;
  font-size: .85rem;
  line-height: 1.5;
  list-style: none;
}

.package__list li:not(:last-of-type) {
  margin-bottom: .75rem;
}
