.teaser {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.teaser__image {
}

.teaser--fifties {
}

@media screen and (min-width: 760px) {
  .teaser {
    flex-direction: row;
  }

  .teaser__image {
    margin-right: 2rem;
    min-width: 400px;
  }

  .teaser--fifties .teaser__image {
    min-width: 50%;
  }
}

/* About Teaser */
.about-teaser {
  background: white;
}

.about-teaser .teaser__text {
  /* padding: 3rem; */
}

@media screen and (min-width: 768px) {
  .about-teaser {
    padding: 3rem;
  }

  .about-teaser .teaser__text {
    padding: 0;
  }
}
