.text-block {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .text-block {
  }
}

.button-block {
  padding: 0 0 3rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .button-block {
    padding: 0 0 4.5rem;
  }
}
