.home-title {
  display: flex;
  justify-content: space-between;
}

.home-title .page-title {
  margin: 0;
}

.home-title p {
  color: white;
  margin-bottom: 1.5rem;
}

.page-title {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.title {
  /* margin-top: -10rem; */
  position: relative;
}

.title img {
  display: block;
}

@media screen and (min-width: 760px) {
  .title img {
    left: 50%;
    margin-left: -640px;
    max-width: none;
    position: fixed;
    top: 0;
    width: 1280px;
  }
}

.title div {
  color: white;
  margin-top: -3.9rem;
  position: relative;
  width: 100%;
  z-index: 1;
}

@media screen and (min-width: 760px) {
  .title div {
    margin-top: 0;
    padding: 21rem 0 3rem;
  }
}

.title h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  position: relative;
}

@media screen and (min-width: 760px) {
  .title h2 {
    font-size: 4rem;
    margin-bottom: 0;
  }
}

.title-grid {
}

.title-grid__title {
  /* bottom: 3rem;
  display: inline-block;
  left: 10%;
  position: relative;
  z-index: 1; */
}

.title-grid__title h2 {
  font-size: 4rem;
  margin: 0;
}

.title-grid__content {
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: auto;
  left: 50%;
  margin-left: -640px;
  position: fixed;
  top: 0;
  width: 1280px;
}

.title-grid--one {
  height: 480px;
}

.title-grid__content-one {
  display: grid;
  position: fixed;
  top: 68px;
}

.title-grid__content article {
  overflow: hidden;
  position: relative;
}

.title-grid__content article:hover h4 {
  bottom: 1rem;
  opacity: 1;
}

.title-grid__content img {
  display: block;
}

.title-grid__content h4 {
  bottom: 0;
  color: white;
  left: 1rem;
  opacity: 0;
  position: absolute;
  transition: all 0.2s ease-in-out;
  width: calc(100% - 2rem);
}
