.travel-schedule {
  text-align: center;
}

.travel-schedule__title {
}

.travel-schedule__list {
  columns: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.travel-schedule__list span {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
}

.travel-schedule p {
  font-size: .8rem;
  font-style: italic;
  margin: 1rem 0 0;
}
