/*
  primary: gold;
  secondary: teal;
*/

.background--white-trans {
  background: rgba(255,255,255,.7);
}

.background--black-trans {
  background: rgba(0,0,0,.7);
}

.background--white {
  background: white;
}

.background--black-trans p,
.background--black-trans blockquote {
  color: white;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
