/*
  primary: gold;
  secondary: teal;
*/

.background--white-trans {
  background: rgba(255,255,255,.7);
}

.background--black-trans {
  background: rgba(0,0,0,.7);
}

.background--white {
  background: white;
}

.background--black-trans p,
.background--black-trans blockquote {
  color: white;
}

.list--mountains {
  padding: 0;
}

.list--mountains li {
  /* background: url(../../images/icons/bullet-mountain.svg) no-repeat 100%; */
  list-style: none;
}

.list--prominent {
  columns: 1;
  margin: 0;
}

.list--prominent li:not(:last-of-type) {
  margin-bottom: .25rem;
}

.list--prominent span {
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
