form {
  /* font-size: 1.5rem; */
}

.form-item {
  margin-bottom: 1.5rem;
}

input[type="text"],
input[type="email"],
textarea {
  background: transparent;
  border: 2px solid #DDDDDD;
  padding: 1rem;
  width: 100%;
}

input[type="checkbox"] {
  margin: 0 .75rem 0 0;
}

input[type="button"] {
  display: block;
}

textarea {
  min-height: 200px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: .5rem;
  text-transform: uppercase;
}
