.button {
  border: 2px solid #A65151;
  border-radius: 0;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  transition: all .4s ease-in-out;
  z-index: 0;
}

.button:hover {}

.button::before,
.button::after {
  background: transparent;
  content: "";
  height: 100%;
  left: 50%;
  position: absolute;
  right: 50%;
  top: 0;
  transition: all .3s ease-in-out;
  z-index: -1;
}

.button:hover::before,
.button:hover::after {
  background: black;
  opacity: .25;
}

.button:hover::before {
  left: 0;
}

.button:hover::after {
  right: 0;
}

.button--primary {
  background: transparent;
  border-color: #A65151;
  color: #eee;
}

.button--primary {
}

.button--primary:hover {
  /* color: black; */
  color: white;
}

.button--secondary {
}

.button--large {
  padding: 2rem;
}

.button--medium {
  padding: 1.25rem;
}

.button--small {
  padding: .25rem;
}
