.button {
  border: 2px solid #A65151;
  border-radius: 0;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  transition: all .4s ease-in-out;
  z-index: 0;
}

.button:hover {
  border-color: #c17f7f;
  color: white;
}

.button::before,
.button::after {
  background: transparent;
  content: "";
  height: 100%;
  left: 50%;
  opacity: 0;
  position: absolute;
  right: 50%;
  top: 0;
  transition: all .15s ease-in-out;
  z-index: -1;
}

.button:hover::before,
.button:hover::after {
  background: #A65151;
  opacity: .25;
}

.button:hover::before {
  left: 0;
}

.button:hover::after {
  right: 0;
}

.button--primary {
  background: transparent;
  border-color: #A65151;
  color: #eee;
}

.button--primary {
}

.button--primary:hover {
  /* color: black; */
}

.button--secondary {
}

.button--tertiary {
  background: #A65151;
  color: white;
  text-transform: uppercase;
}

.button--secondary:hover {
  color: #A65151;
}

.button--secondary:hover::before,
.button--secondary:hover::after {
  opacity: .05;
}

.button--large {
  padding: 1.25rem 3rem;
}

.button--medium {
  padding: 0.95rem 2rem;
}

.button--small {
  padding: .25rem;
}
